authorindex.sty
authorindex.tex
dtklogos.log
dtklogos.sty
.gitignore.swp
libertine.sty
main.adx
main.aux
main.bbl
main.blg
main-blx.bib
main.idx
main.ldx
main.log
main.out
main.rdx
main.run.xml
main.sdx
main.toc
main.wdx
texput.log

chapters/01.aux
chapters/.01.tex.swp
chapters/02.aux
chapters/03.aux
