main.adx
main.bbl
main.blg
main-blx.bib
main.idx
main.ldx
main.out
main.rdx
main.run.xml
main.sdx
main.toc
main.wdx
texput.log
main.pdf

**.log
**.aux
**.swp
**.pyg

**/__pycache__/**

*.sublime-*

_minted-*/**
