main.bbl
main.blg
texput.log

algebra.pdf
main.pdf

**-blx.bib
**.adx
**.aux
**.idx
**.ldx
**.log
**.out
**.pyg
**.rdx
**.run.xml
**.sdx
**.swp
**.toc
**.wdx

**/__pycache__/**

*.sublime-*

_minted-*/**
